@import "style";

.tab-1-wrap-bg {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px;

  .block_d{
    display: flex;
    height: 130px;
    width: 130px;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #1b276b;
    justify-content: space-evenly;

  }
}


