@import "style";

.tab-1-wrap-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-wrap {
  @extend %style-box-wrap;
}

  .values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #addefd;

    .value_min {
      @extend %style-value;
      //background-color: rgba(40, 172, 212, 0.7);
    }

    .value_max {
      @extend %style-value;
      //background-color: rgba(118, 197, 53, 0.7);
    }

}
