@import "style";

.main {
  grid-row: 2/3;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr 7fr 5fr 1fr;
  grid-template-rows: 150px 1fr 50px;

  .input-search {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;

    .input-group {
      margin: auto ;
      box-shadow: $box-shadow-component;
      transition-duration: 0.2s;
      border-radius: 5px;
      .input-group-btn {
        width: initial;
        .search-btn {
          height: 34px;
          width: 50px;
          border-radius: 5px 0 0 5px;
          .icon__search {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .input-group:hover {
    box-shadow: $box-shadow-component-hover;
  }

  .forecast-wrap {
    grid-column: 2/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 150px 1fr;
    background: url(../../assets/img/fon-winter.png) center no-repeat;
    background-size: cover;
    @extend %style-box-wrap;

    .frame-items-day {
      grid-column: 1/2;
      grid-row: 1/3;
      display: grid;
      align-items: center;
      justify-items: center;
      margin: 10px 10px 50px;
      background-size: cover;
      background: #fff url(../../assets/img/items-1.jpg) no-repeat center;
      background-clip: content-box;
      border-radius: 10px;
      border: 1px solid #535050;
      box-shadow: $box-shadow-frame-items;
      grid-template-rows: 3fr;


    .now_weather {
      grid-row: 3/4;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %style-text-ibarra_italic_shadow;
      color: #64c6ff;
      font-size: 70px;
    }

    .now_city {
      grid-row: 1/2;
      width: 180px;
      text-align: center;
      justify-content: center;
      color: rgb(230, 227, 227);
      font-size: 34px;
    }

    .now_desc {
      grid-row: 2/3;
      width: 180px;
      text-align: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      @extend %style-text-open_italic_shadow;
      color: rgb(230, 227, 227);
      font-size: 24px;
    }
  }

    .now_time {
     grid-column: 2/5;
      grid-row: 2/3;
      width: 380px;
      height: 60px;
      background-color: rgba(200, 240, 245, 0.5);
      border-radius: 20px;
      box-shadow: $box-shadow-frame-items;
      justify-self: center;
      text-align: center;
      @extend %style-text-ibarra_italic_shadow;
      color: #43138f;
      font-size: 40px;
      font-weight: 400;
    }

    .frame-items-add {
      grid-column: 5/6;
      grid-row: 1/2;
      .fia-btn {
        display: flex;
        line-height: 1;
        height: 30px;
        background-color: #addefd;
        border-color: #226a97;
        border-radius: 10px;
        box-shadow: $box-shadow-component;
        transition-duration: 0.2s;
        margin-top: 50px;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        .icon__heart {
          fill: #9c1d1d;
          height: 20px;
          width: 20px;
        }
      }
      .fia-btn:hover {
        background-color: #7996e4;
        box-shadow: $box-shadow-component-hover;
      }
    }

    .tabs {
      grid-column: 1/6;
      grid-row: 3/4;
    }

  }
}


