@import "style";

.main_h {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr 7fr 5fr 1fr;
  grid-template-rows: 150px 1fr 50px;
  @media only screen and (max-width: 675px){
    display: block;
  }

  .input-search {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;

    .input-group {
      margin: auto ;
      box-shadow: $box-shadow-component;
      transition-duration: 0.2s;
      border-radius: 5px;
      .input-group-btn {
        width: initial;
        .search-btn {
          height: 34px;
          width: 50px;
          border-radius: 5px 0 0 5px;
          .icon__search {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .input-group:hover {
    box-shadow: $box-shadow-component-hover;
  }

  .forecast-wrap {
    grid-column: 2/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 250px 100px 1fr;
    background: url(../../assets/img/fon-winter.png) center no-repeat;
    background-size: cover;
    @extend %style-box-wrap;
    @media only screen and (max-width: 455px){
      display: block;
    }

    .frame-items-day {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 10px 10px 50px;
      background-size: cover;
      background: cornsilk;
      border-radius: 10px;
      border: 1px solid #535050;
      box-shadow: $box-shadow-frame-items;
      padding: 10px;

    .now_weather {

     text-align: center;

      color:#08204d;
      font-size: 24px;
    }

    .now_city {

      text-align: center;
      color: #08204d;
      font-size: 24px;
    }

    .now_desc {
      text-align: center;
      color:#08204d;
      font-size: 24px;
    }
  }

    .frame-items-add {
      grid-column: 5/6;
      grid-row: 1/2;
      .fia-btn {
        display: flex;
        line-height: 1;
        height: 30px;
        background-color: #addefd;
        border-color: #226a97;
        border-radius: 10px;
        box-shadow: $box-shadow-component;
        transition-duration: 0.2s;
        margin: 50px;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        .icon__heart {
          fill: #9c1d1d;
          height: 20px;
          width: 20px;
        }
      }
      .fia-btn:hover {
        background-color: #7996e4;
        box-shadow: $box-shadow-component-hover;
      }
    }

    .tabs {
      grid-column: 1/6;
      grid-row: 3/4;
    }

  }
}


