
@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Regular.eot");
  src: url("../fonts/IbarraRealNova-Regular.eot") format("embedded-opentype"),
    url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Regular.woff") format("woff"),
    url("../fonts/IbarraRealNova-Regular.ttf") format("truetype"),
    url("../fonts/IbarraRealNova-Regular.svg#IbarraRealNova-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

//////////////////////////////////////////////////

$font-open-sans: "Open Sans", sans-serif;
$font-ibarra: "Ibarra Real Nova", sans-serif;
$component-shadow-color: #08204d;
$box-shadow-component: 3px 3px 10px 2px $component-shadow-color;
$box-shadow-component-hover: 5px 5px 10px 3px $component-shadow-color;
$box-shadow-frame-items: 3px 3px 20px 2px $component-shadow-color;
$text-shadow: 2px 3px 8px #000;


////////////////////////////////////////////////////

%style-box-wrap {
  border-radius: 5px;
  box-shadow: $box-shadow-component;
}

//////////////////////////////////////////

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-family: $font-open-sans;
  font-weight: 600;
  font-size: 18px;
  display: grid;
  grid-template-rows: 120px 830px;
  max-height: 955px;
  max-width: 1920px;
  @media only screen and (max-width: 465px){
    display: block;
  }

  .main {
    grid-template: 2/3
  }

}


