<!--<article>-->
<!--  <div *ngFor="let weatherDay of weatherDays">-->
<!--    <h3>{{weatherDay.dayOfTheWeek}}</h3>-->
<!--    <span>{{weatherDay.tempMin}}</span>-->
<!--    <span>{{weatherDay.tempMax}}</span>-->
<!--  </div>-->
<!--</article>-->


<div class="tab-1-wrap-bg">

    <div class="values box-wrap" >

      <div class="day">
        <span>{{weatherDays[0].dayOfTheWeek}}</span>
      </div>

      <div class="value_min">
        <span class="unit unit_temperature_c">{{weatherDays[0].tempMin}}</span>
        <span class="unit unit_temperature_f">28</span>
      </div>

      <div class="value_max">
        <span class="unit unit_temperature_c">{{weatherDays[0].tempMax}}</span>
        <span class="unit unit_temperature_f">39</span>
      </div>
    </div>

  <div class="values box-wrap" >

    <div class="day">
      <span>{{weatherDays[1].dayOfTheWeek}}</span>
    </div>

    <div class="value_min">
      <span class="unit unit_temperature_c">{{weatherDays[1].tempMin}}</span>
      <span class="unit unit_temperature_f">28</span>
    </div>

    <div class="value_max">
      <span class="unit unit_temperature_c">{{weatherDays[1].tempMax}}</span>
      <span class="unit unit_temperature_f">39</span>
    </div>
  </div>

  <div class="values box-wrap" >

    <div class="day">
      <span>{{weatherDays[2].dayOfTheWeek}}</span>
    </div>

    <div class="value_min">
      <span class="unit unit_temperature_c">{{weatherDays[2].tempMin}}</span>
      <span class="unit unit_temperature_f">28</span>
    </div>

    <div class="value_max">
      <span class="unit unit_temperature_c">{{weatherDays[2].tempMax}}</span>
      <span class="unit unit_temperature_f">39</span>
    </div>
  </div>

  <div class="values box-wrap" >

    <div class="day">
      <span>{{weatherDays[3].dayOfTheWeek}}</span>
    </div>

    <div class="value_min">
      <span class="unit unit_temperature_c">{{weatherDays[3].tempMin}}</span>
      <span class="unit unit_temperature_f">28</span>
    </div>

    <div class="value_max">
      <span class="unit unit_temperature_c">{{weatherDays[3].tempMax}}</span>
      <span class="unit unit_temperature_f">39</span>
    </div>
  </div>

  <div class="values box-wrap" >

    <div class="day">
      <span>{{weatherDays[4].dayOfTheWeek}}</span>
    </div>

    <div class="value_min">
      <span class="unit unit_temperature_c">{{weatherDays[4].tempMin}}</span>
      <span class="unit unit_temperature_f">28</span>
    </div>

    <div class="value_max">
      <span class="unit unit_temperature_c">{{weatherDays[4].tempMax}}</span>
      <span class="unit unit_temperature_f">39</span>
    </div>
  </div>

</div>
